.body {
  background-image: url("./assets/img/fondo-inchda.jpg"); /* Ruta relativa desde la carpeta public */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con 50% de opacidad */
  background-blend-mode: overlay;
   height: 100%; /* Asegura que el cuerpo ocupe el 100% de la altura */
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  background: #000;
}