
  
  .sticky-footer {
    position: fixed; /* Por defecto, el footer es fijo */
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    background-color: #f8f9fa; /* Ajusta el color según necesites */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    z-index: 1000; /* Asegura que esté sobre otros elementos */
}

